/* CSS declarations go here */
body {

  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;

  font-size: 14px;
}

/*
td {
  width: 220px;
  height: 140px;
}
*/

.container {
  max-width: 1024px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

header {
  background: #logind2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  /*padding: 20px 15px 15px 15px;*/
  position: relative;
}

#login-buttons {
  display: inline;
}

p.correctAnswer {
  text-emphasis-style: circle;
  text-emphasis-color: green;
  font-weight: bold;
}

.button {
  /** float: center; */
  margin: '10px 10px 10px 0'
}

div {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 150px;
    margin-left: 80px;
}

h1 {
  font-size: 3.5em;
  color: black;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

td {
    padding: 20px;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}



ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}


li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

img {
  width: 200px;
  height: 130px;
}

img.checked {
  border: 3px solid black;
  box-shadow:0px 12px 22px 1px #333;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {

  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }

}
